@import 'bootstrap/scss/bootstrap';

body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}
.header {
  .top-bar {
    background-color: #005b84;
    .logo {
      width: 50px;
      height: 50px;
      background-color: transparent; // placeholder cho logo
    }
    .title {
      color: white;
    }
  }
  .bottom-bar {
    background-color: #0792c9;
    .left {
      font-size: 14px;
    }
    .right {
      font-size: 14px;
      .logout:hover {
        text-decoration: underline;
      }
    }
  }
}

.sapfin-action-bar {
  .sapfin-source-dropdown {
    border:black;
    background-color: #005b84;
    .sapfin-source-label {
      font-weight: bold;
      color: #fff;
    }
    .default-dropdown {
      background: #fff;
    }
  }
}

.login-page {
  height: 100vh;
  background-color: #fff;

  .login-box {
    border: 2px solid #0077b6;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
  }

  .underline {
    width: 60px;
    height: 3px;
    background-color: #0077b6;
    border-radius: 2px;
  }
}
