.sapfin-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    .header-top {
      position: relative;
      background-color: #055bb1;
      .logo {
        img {
          max-height: 40px;
        }
      }
      .main-title {
        font-size: 1.8rem;
        font-weight: 700;
        color: white;
      }
    }
    .header-bottom {
      font-size: 0.9rem;
      color: white;
      background-color: #18b2e6;
      .subtitle {
        font-weight: 500;
      }
      .user-info {
        a {
          color: white;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
}
.sapfin-main-layout {
    background-color: #f8f9fa; 
    .sapfin-action-bar {
        .sapfin-source-dropdown {
            border:black;
            background-color: #055bb1;
            .sapfin-source-label {
              font-weight: bold;
              color: #fff;
            }
            .default-dropdown {
              background: #fff;
            }
        }
    }
    .sapfin-main-content {
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 8px rgba(0,0,0,0.05);
      .sap-response-title {
        font-weight: bold;
      }
      .text-area {
        width: 100%;
      }
    }
}
